<h1>BE InTouch</h1>

<h2>Featured Black Professional - <%= @featured %></h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QlbW2OEWS7M" frameborder="0" allowfullscreen></iframe>
<div>
<p>Fingerstache sustainable migas, pug mustache food truck distillery green juice fam. Tumblr thundercats trust fund, gochujang waistcoat taxidermy pour-over swag. Blog chia kombucha gastropub before they sold out roof party. Keffiyeh bespoke banh mi, gentrify mumblecore subway tile jianbing slow-carb tote bag flexitarian 8-bit VHS celiac kinfolk salvia. Butcher viral vinyl, bitters pitchfork tumeric stumptown portland woke gochujang fixie hammock hoodie iceland narwhal. Umami master cleanse trust fund meditation. Green juice mumblecore normcore brunch chartreuse.</p>


<h1>Our Professionals</h1>
<hr>

<% @professionals.each do |professional| %>
	<h2>Name: <%= professional.name %></h2>
	<h3>Title: <%= professional.title %></h3>
	<h4>Website: <%= professional.website %></h4>
	<h4>Email: <%= professional.email %></h4>

	<hr>
<% end %>